body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color01: #5B8C5A;
    --color02: #ecece6;
    --color03: #53687E;
    --color04: #3A4454;
    --color05: #B24C63;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: white;
    padding: 15px;
}

main {
    background-color: var(--color02);
}

#menu {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}
#menu a {
    margin: 5px;
    text-decoration: none;
    color: var(--color03);
}
#menu a:hover {
    color: var(--color05);
}


#introducao {
    display: flex;
    width: 100%;
    height: 45vh;
    margin: 0px 0px 10px 0px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #ffffe0, #ecece6);

}
#texto01 {
    display: inline;
    margin-right: 40px;
    font-size: 1.5em;
}
#introducao img {
    width: 400px;
}


#planos {
    display: flex;
    width: 95%;
    height: 500px;
    justify-content: center;
    background-image: linear-gradient(to right, #53687E, #537e6c);
    border-radius: 0px 0px 20px 0px;

}
#texto02 {
    border-radius: 0px 20px 0px 0px;
    padding-top: 20px;
    text-indent: 150px;
    background-image: linear-gradient(to right, #53687E, #537e6c);
    width: 95%;
    font-size: 1.2em;
}
#card01, #card02, #card03 {
    background: linear-gradient(to bottom, #425569, #3A4454);
    width: 300px;
    height: 450px;
    display: inline-block;
    margin: 20px;
    margin-top: 20px;
    text-align: center;
    color: var(--color02);
    border-radius: 10px;
    padding: 0px 5px;
}

#card01 h2, #card02 h2, #card03 h2 {
    margin-top: 20px;
    font-size: 2.0em;
}

#card01 h1, #card02 h1, #card03 h1 {
    font-size: 2.5em;
    margin: 10px;
    text-decoration: underline;
    margin-bottom: 25px;
    color: #c91515;
    text-shadow: 1px 1px 1px black;
}

#card01 li, #card02 li, #card03 li {
    list-style-position: inside;
    font-size: 1.5em;
    margin: 10px;
    text-align:start;
}
.botao {
    background-color: #1e1e1e;
    width: 100px;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
}
.botao > a {
    text-decoration: none;
    color: var(--color02);
}

.botao:hover {
    background-color: #B71616;
}

#botao01 {
    margin-top: 103px;
}

#botao03 {
    margin-top: 38px;
}

#texto03 {
    text-align: right;
    width: 900px;
    margin: auto;
    padding: 20px 20px 0px 20px;
}
#quem-somos {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#kevo, #rafa, #gui {
    background-color:var(--color05);
    width: 300px;
    height: 350px;
    display: inline-block;
    margin: 20px;
    border-radius: 20px;
}

#projeto {
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 1000px;
    margin: auto;
}
#imagem-projeto {
   width: 1000px;
   height: 400px;
   background-color: var(--color01);
   margin: 20px;
   border-radius: 20px;
}
#kev, #raf, #guiz{
    width: 290px;
    height: 340px;
    display: inline-block;
    border-radius: 20px;
    margin: 20px;
}
#pjt{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: fill;
    height: 98%;
    margin: 5px;
    border-radius: 20px;
}
#kev, #raf, #guiz:hover{
    opacity: 0.2;
    scale: 0.9;
    transition: 0.8s;
}


footer {
    background-color: #1e1e1e;
    height: 560px;
}
#contato1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    height: 350px;
    flex-wrap: wrap;
}
form {
    display: block;
    width: 300px;
    padding: 20px 45px 11px 20px;
    background-color: #2b323d;
    border-radius: 10px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"] {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}
input[type="submit"]:hover {
    letter-spacing: 3px;
    background-color:var(--color03);
    color: hsl(0, 0%, 100%);
    box-shadow: var(--color03) 0px 7px 29px 0px;
}
input[type="submit"]:active {
    letter-spacing: 3px;
    background-color:var(--color05);
    color: hsl(0, 0%, 100%);
    box-shadow: var(--color05) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
#text-contato1 {
    color: var(--color02);
    display: block;
    width: 300px;
}
h1 {
    font-size: 2.2em;
    margin-bottom: 10px;
}
p {
    font-size: 1.2em;
}

#contato2 {
    height: 150px;
    border-top: 1px solid white;
    width: 800px;
    margin: auto;
}

#contato2 > h1 {
    padding-top: 10px;
    color: var(--color02);
    text-align: center;
}
.card {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
    margin: auto;
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  