body {
    background-image: linear-gradient(to top, white, gray);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color01: #5B8C5A;
    --color02: #cecfb4;
    --color03: #53687E;
    --color04: #3A4454;
    --color05: #B24C63;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: white;
    padding: 10px;
}

#menu a {
    margin: 5px;
    text-decoration: none;
    color: var(--color03);
}