

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --color01: #5B8C5A;
    --color02: #f3f3ef;
    --color03: #53687E;
    --color04: #3A4454;
    --color05: #B24C63;
    --color06: #2b323d;
}
* {
    margin: 0px;
    padding: 0px;
}
main {
    background-color: var(--color02);
}


header {
    background-color: #fff;
    color: var(--color04);
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid #8f8f8f65;
}
h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
nav a {
    color: var(--color04);
    text-decoration: none;
    margin: 0 20px;
    position: relative;
    font-weight: bold;
}
nav a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color04);
    transition: width 0.3s ease;
}
nav a:hover::after {
    width: 100%;
}

#introducao {
    display: flex;
    width: 100%;
    height: 500px;
    margin: 0px 0px 10px 0px;
    align-items: center;
    justify-content: center;
}
#texto01 {
    display: inline;
    margin-right: 40px;
    font-size: 1.2em;
    width: 500px;
}
#introducao img {
    width: 400px;
    border-radius: 10px;
}


#texto02 {
    border-radius: 0px 20px 0px 0px;
    padding-top: 20px;
    background-image: linear-gradient(to right, #53687E, #537e6c);
    width: 95%;
    font-size: 1.4em;
    text-align: center;
}
#planos {
    display: flex;
    width: 95%;
    height: 500px;
    justify-content: center;
    background-image: linear-gradient(to right, #53687E, #537e6c);
    border-radius: 0px 0px 20px 0px;

}
#card01, #card02, #card03 {
    background: linear-gradient(to bottom, #425569, #3A4454);
    width: 300px;
    height: 400px;
    display: inline-block;
    margin: 20px;
    margin-top: 20px;
    text-align: center;
    color: var(--color02);
    border-radius: 10px;
    padding: 0px 5px;
}

#card01 h2, #card02 h2, #card03 h2 {
    margin-top: 20px;
    font-size: 1.6em;
}

#card01 h1, #card02 h1, #card03 h1 {
    font-size: 2em;
    margin: 10px;
    text-decoration: underline;
    margin-bottom: 25px;
    color: #c91515;
    text-shadow: 1px 1px 1px black;
}

#card01 li, #card02 li, #card03 li {
    list-style-position: inside;
    font-size: 1.2em;
    margin: 10px;
    text-align:start;
}
.button {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--color01);
    transition: all 500ms;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    outline: 2px solid var(--color01);
}
  
button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid var(--color01);
    box-shadow: 4px 5px 17px -4px var(--color01);
}
  
button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--color03);
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}
  
button:hover::before {
    width: 250%;
}

#botao01 {
    margin-top: 89px;
}

#botao02 {
    margin-top: 38px;
}
#botao03 {
    margin-top: 38px;
}



#texto03 {
    text-align: right;
    width: 900px;
    margin: auto;
    padding: 50px 20px 0px 20px;
    font-size: 1.2em;
}
#quem-somos {
    display: flex;
    align-items: center;
    justify-content: center;

}
.block1 {
    position: relative;
}
.block1 img {
    width: 90%;
    transition: filter 0.3s ease;
    border-radius: 10px;
    border: 3px solid #5b8c5a62;
}
.block1 .texto-imagem {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    line-height: 1.3em;
    text-align: center;
}
.block1:hover img {
    filter: brightness(0.3);
}
.block1:hover .texto-imagem {
    opacity: 1;
}


#projeto {
    width: 1000px;
    margin: auto;
    height: 500px;
}
#projeto > h2 {
    text-align: center;
    padding: 20px;
    font-size: 2em;
}
#imagem-projeto {
   width: 750px;
   height: 360px;
   margin: auto;
}
#imagem-projeto > img {
    border: 5px solid #5b8c5a6c;
}
#kev, #raf, #guiz{
    width: 290px;
    height: 340px;
    display: inline-block;
    border-radius: 20px;
    margin: 20px;
}
#pjt{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: fill;
    height: 98%;
    margin: 5px;
    border-radius: 20px;
}


footer {
    background-color: #1e1e1e;
    height: 560px;
}
#contato1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    height: 350px;
    flex-wrap: wrap;
}
form {
    display: block;
    width: 300px;
    padding: 20px 45px 11px 20px;
    background-color: #2b323d;
    border-radius: 10px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"] {
    padding: 17px 40px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}
input[type="submit"]:hover {
    letter-spacing: 3px;
    background-color:var(--color03);
    color: hsl(0, 0%, 100%);
    box-shadow: var(--color03) 0px 7px 29px 0px;
}
input[type="submit"]:active {
    letter-spacing: 3px;
    background-color:var(--color05);
    color: hsl(0, 0%, 100%);
    box-shadow: var(--color05) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
#text-contato1 {
    color: var(--color02);
    display: block;
    width: 300px;
}
h1 {
    font-size: 2.2em;
    margin-bottom: 10px;
}
p {
    font-size: 1.2em;
}

#contato2 {
    height: 150px;
    border-top: 1px solid white;
    width: 800px;
    margin: auto;
}

#contato2 > h1 {
    padding-top: 10px;
    color: var(--color02);
    text-align: center;
}
.card {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
    margin: auto;
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  