@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
}

body {
    font-family: oswald, sans-serif;
    background-color: #1a1a1a;
}

header {
    background-color: #1a1a1a;
}

header h1 {
    color: rgb(58, 194, 76);
}

header > p {
    font-weight: 200;
    color: whitesmoke;
}

#sobremim {
    max-width: 1200px;
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #1a1a1a;
    padding: 10px 0px;
    margin-top: 20px;
    color: white;
}

div > h1{
    display: inline-block;
    margin: 80px 10px 10px 23px;
    color: rgb(58, 194, 76);
}

div > p{
    display: inline-block;
    margin: 10px 10px 10px 25px;
}

#imgperfil {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center 37%;
    float: left;
    margin-left: 50px;
}

#info {
    margin: 100px 0px 10px 18px;
}

ul {
    list-style-position: inside;
    column-count: 2;
    font-weight: bold;
    padding-left: 20px;
}

li > p{
    font-weight: normal;
}

#trabalhos {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    align-items: center;
    background-color: rgb(202, 202, 202);
}

main > h1 {
    text-align: center;
    background-color: #1a1a1a;
    color: rgb(58, 194, 76);
    max-width: 126vh;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 7px;
    font-weight: 500;
}

#img02 {
    display: inline-block;
    max-width: 99%;
    margin: 0px 0px 10px 0px;
}

#conheca {
    display: flex;
    margin: auto;
    width: 26%;
    margin-top: 15px;
    margin-bottom: 20px;
}

#conheca > a {
    display: inline;
    padding: 15px;
    background-color: rgb(58, 194, 76);
    border-radius: 8px;
    text-decoration: none;
    color: black;
    margin: auto;
}

#conheca > a:hover{
    background-color: rgb(127, 134, 172);
    text-decoration: underline;
}

footer {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    font-style: italic;
}

footer > h1 {
    font-weight: 500;
}

ul {
    list-style: none;
  }
  
  .example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled,
  .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
  }
  
  .example-2 .icon-content a[data-social="github"] .filled,
  .example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
  }
  .example-2 .icon-content a[data-social="instagram"] .filled,
  .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }